@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
:root {
  --sombraImgArticulos: #1e164bc9;
  --botones: #7042B5;
  --botonesHover: #8650D7;
  --bgArticulos: #683aae0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*para que el tamanio de las cajas incluya el pading y border*/
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: #ffffff;
  overflow-x: hidden;
}
html body .container {
  /* border: 1px solid black; */
  max-width: 1150px;
  margin: 0 auto;
}
html body header {
  background-image: url(../images/waves/waveHeader.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /*para estirar la img en toda la pantalla*/
  min-height: 70vh;
  display: flex;
  align-items: center;
}
html body header .menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
}
html body header .menu .men {
  position: sticky;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* checkout**/
}
html body header .menu .men .logo {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}
html body header .menu .men .logo img {
  width: 60px;
  padding: 0px;
  margin: 0px;
}
html body header .menu .men #menu {
  display: none;
}
html body header .menu .men label {
  cursor: pointer;
  display: none;
}
html body header .menu .men label .menu-icono {
  width: 25px;
}
html body header .menu .men .navbar ul li {
  position: relative;
  float: left;
}
html body header .menu .men .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fff;
  display: block;
}
html body header .menu .men .navbar ul li a:hover {
  color: #edf942;
  box-shadow: 0 5px 5px rgba(0, 26, 97, 0.071);
  border-radius: 10px;
  font-size: 18.2px;
}
html body header .header-content {
  display: flex;
  height: 100vh;
}
html body header .header-content .content {
  padding: 150px 150px 0px 0px;
}
html body header .header-content .content h1 {
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 55px;
}
html body header .header-content .content p {
  margin-top: 20px;
  color: #AAB1FF;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
}
html body header .header-content img {
  width: 550px;
  margin-top: 150px;
  border-radius: 50px;
  box-shadow: 0px 40px 40px rgba(14, 14, 14, 0.4549019608);
  transform: rotate(7deg);
  filter: brightness(95%);
}
html body .principal {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
html body .principal main {
  margin-top: 50px;
  padding-right: 25px;
  width: 80%;
}
html body .principal main .content-article h1 {
  text-transform: uppercase;
  color: #07045e;
  text-align: center;
  margin-bottom: 20px;
  font-size: 45px;
  font-family: "Courier New", Courier, monospace;
}
html body .principal main .content-article h2 {
  color: #07045e;
  font-family: "josefin sans";
  padding: 30px 0px 20px 10px;
  font-size: 35px;
}
html body .principal main .content-article img {
  margin: 40px 0;
  width: 100%;
}
html body .principal main .content-article p {
  margin-bottom: 15px;
  text-align: justify;
  font-family: "josefin sans";
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 20px;
}
html body .principal aside {
  width: 20%;
  margin-top: 100px;
  padding-left: 10px;
}
html body .principal aside .categorias {
  top: 50px;
  position: sticky;
  color: #1009d2;
  font-size: 20px;
  font-family: "josefin sans";
}
html body .principal aside .categorias p {
  font-size: 25px;
  font-weight: 500;
  font-family: "josefin sans";
  margin-bottom: 20px;
}
html body .principal aside .categorias ul {
  padding-left: 10px;
  line-height: 30px;
  color: #07045e;
}
html body .principal aside .categorias ul li {
  margin-bottom: 20px;
}
html body .principal aside .categorias ul li a {
  color: #07045e;
}

@media (max-width: 1180px) {
  html body header {
    height: 50vh;
    padding: 450px 0px 300px 0px;
    background-position: center center;
  }
  html body header .menu {
    padding: 20px;
  }
  html body header .menu .men #menu:checked ~ .navbar {
    display: initial;
  }
  html body header .menu .men label {
    display: initial;
  }
  html body header .menu .men .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #5850BC;
    display: none;
  }
  html body header .menu .men .navbar ul li {
    width: 100%;
  }
  html body header .header-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 30px;
    height: 100vh;
    width: 100%;
  }
  html body header .header-content .content {
    padding: 0px;
  }
  html body header .header-content .content h1 {
    margin-top: 100px;
    font-size: 30px;
  }
  html body header .header-content .content p {
    margin-top: 0px;
    font-size: 25px;
  }
  html body header .header-content img {
    position: absolute;
    top: 400px;
    right: 15px;
    width: 150px;
    /* margin-top: 150px; */
    border-radius: 55px;
    box-shadow: 0px 20px 30px rgba(14, 14, 14, 0.5019607843);
    transform: rotate(20deg);
    filter: brightness(95%);
    margin-top: 70px;
    z-index: 1000;
  }
  html body .principal {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  html body .principal main {
    width: 100%;
  }
  html body .principal main .content-article {
    padding-left: 10px;
  }
  html body .principal main .content-article h1 {
    text-align: center;
    font-size: 25px;
  }
  html body .principal aside {
    margin-top: -240px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fff;
    width: 90%;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 10px;
  }
}/*# sourceMappingURL=styleArticulos.css.map */