@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --sombraImgArticulos: #1e164bc9;
  --botones: #7042B5;
  --botonesHover: #8650D7;
  --bgArticulos: #683aae0b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*para que el tamanio de las cajas incluya el pading y border*/
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.container {
  /* border: 1px solid black; */
  max-width: 1100px;
  margin: 0 auto;
}

.scroll {
  position: fixed;
  background-color: rgba(81, 0, 202, 0.8784313725);
  border-radius: 3px;
}

header {
  background-image: url(../images/waves/waveHeader.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /*para estirar la img en toda la pantalla*/
  min-height: 70vh;
  display: flex;
  align-items: center;
}
header .menu {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  /* checkout**/
}
header .menu .logo {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}
header .menu .logo img {
  width: 60px;
  padding: 0px;
  margin: 0px;
}
header .menu #menu {
  display: none;
}
header .menu label {
  cursor: pointer;
  display: none;
}
header .menu label .menu-icono {
  width: 25px;
}
header .menu .navbar ul li {
  position: relative;
  float: left;
}
header .menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #fff;
  display: block;
}
header .menu .navbar ul li a:hover {
  color: rgba(243, 201, 14, 0.8470588235);
}
header .header-content {
  display: flex;
  height: 100vh;
}
header .header-content .content {
  padding: 150px 150px 0px 0px;
}
header .header-content .content h1 {
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 55px;
}
header .header-content .content p {
  margin-top: 20px;
  color: #AAB1FF;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
}
header .header-content img {
  width: 600px;
  margin-top: 150px;
  border-radius: 50px;
  box-shadow: 0px 40px 40px rgba(14, 14, 14, 0.6509803922);
  transform: rotate(7deg);
  filter: brightness(95%);
  filter: drop-shadow(-6mm 10mm 6mm rgb(0, 26, 97));
}

/**MAIN**/
main .categorias {
  padding: 140px 0px 10px 0px;
  display: flex;
  /* justify-content: space-around; */
  text-align: center;
}
main .categorias .categoria {
  justify-content: space-between;
  padding: 25px;
  margin: 0px 10px;
  box-shadow: 0px 0px 20px rgba(135, 141, 214, 0.3);
}
main .categorias .categoria img {
  margin-top: -50px;
  width: 100px;
}
main .categorias .categoria h3 {
  font-size: 20px;
  color: #0E0E0E;
  margin-bottom: 10px;
}
main .categorias .categoria p {
  color: #525254;
}
main .categorias .categoria:hover {
  box-shadow: 0px 0px 20px rgba(92, 101, 201, 0.5);
  cursor: pointer;
}
main section {
  padding-bottom: 0;
  margin-bottom: 0;
}
main .articulos {
  padding: 90px 0px 0px 0px;
  text-align: center;
  color: #0E0E0E;
}
main .articulos h3 {
  font-size: 30px;
}
main .articulos h2 {
  font-size: 55px;
  margin-bottom: 30px;
}
main .articulos .articulo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background-color: var(--bgArticulos);
  border-radius: 5px;
}
main .articulos .articulo a {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 10px;
}
main .articulos .articulo a .imgArt {
  width: 100px;
  box-shadow: -15px 10px 33px var(--sombraImgArticulos);
  border-radius: 5px;
}
main .articulos .articulo a .hover {
  transform: scale(1.1);
}
main .articulos .articulo a .articulo-1 {
  text-align: left;
  margin-left: 50px;
}
main .articulos .articulo a .articulo-1 p {
  font-size: 14px;
  color: #525254;
  margin-bottom: 25px;
}
main .articulos .articulo a:hover {
  background-color: rgba(112, 98, 164, 0.1137254902);
}

footer {
  padding: 200px 0px 30px 0px;
  background-image: url(../images/waves/waveFooter.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer div .info .info-content {
  display: flex;
}
footer div .info .info-content .info-price {
  padding: 35px;
  text-align: center;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
  margin: 0px 15px 0px 0px;
  color: #0E0E0E;
}
footer div .info .info-content .info-price h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
footer div .info .info-content .info-price .price {
  font-size: 14px;
  color: #0EAEF3 !important;
  margin-bottom: 10px;
}
footer div .info .info-content .info-price p {
  font-size: 16px;
  color: #525254;
}
footer div .info .info-content .info-txt {
  margin-left: 35px;
  color: #fff;
}
footer div .info .info-content .info-txt .btn-1 {
  display: inline-block;
  background-color: rgba(170, 177, 255, 0.3);
  border: 1px solid #AAB1FF;
  margin: 35px 10px 0px 0px;
  padding: 15px 25px;
  color: #fff;
  border-radius: 25px;
}
footer div .info hr {
  margin: 20px 0px;
  border: 0.5px solid #AAB1FF;
}
footer div .info .enlaces {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
footer div .info .enlaces img {
  width: 50px;
  height: 50px;
  margin: 0;
}
footer div .info .enlaces p {
  display: flex;
  align-items: center;
}
footer div .info .enlaces .enlace {
  display: flex;
}
footer div .info .enlaces .enlace li a {
  display: flex;
  margin: 0px;
  color: #fff;
  align-items: center;
}
footer div .info .enlaces .enlace li a .icon {
  width: 25px;
  align-items: top;
  margin: 0px;
  padding-right: 5px;
}
footer div .info .enlaces .enlace li a:hover {
  color: #0EAEF3;
}

@media (max-width: 1180px) {
  header {
    height: 50vh;
    padding: 450px 0px 300px 0px;
    background-position: center center;
  }
  header .menu {
    padding: 20px;
  }
  header .menu #menu:checked ~ .navbar {
    display: initial;
  }
  header .menu label {
    display: initial;
  }
  header .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #5850BC;
    display: none;
  }
  header .menu .navbar ul li {
    width: 100%;
  }
  header .header-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0px 30px;
    height: 100vh;
  }
  header .header-content .content {
    padding: 0px;
  }
  header .header-content .content h1 {
    margin-top: 100px;
    font-size: 40px;
  }
  header .header-content .content p {
    margin-top: 0px;
    font-size: 30px;
  }
  header .header-content img {
    width: 300px;
    /* margin-top: 150px; */
    border-radius: 50px;
    box-shadow: 0px 20px 30px rgba(14, 14, 14, 0.5019607843);
    transform: rotate(7deg);
    filter: brightness(95%);
    filter: drop-shadow(-6mm 10mm 6mm rgb(0, 26, 97));
    margin-top: 70px;
  }
  main .categorias {
    flex-direction: column;
    padding: 58px 30px 0px 30px;
  }
  main .categorias .categoria {
    display: flex;
    margin: 0px 0px 20px 0px;
    padding-bottom: 15px;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
  }
  main .categorias .categoria img {
    width: 60px;
    margin-top: 0;
  }
  main .categorias .categoria h3 {
    padding-left: 5px;
    margin-left: 5px;
    text-align: left;
  }
  main .categorias .categoria p {
    display: none;
  }
  main .articulos {
    padding: 0px 30px 30px 30px;
  }
  main .articulos h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  main .articulos .articulo a {
    flex-direction: column;
  }
  main .articulos .articulo a img {
    display: none;
  }
  main .articulos .articulo a .articulo-1 {
    text-align: center;
    margin: 0px 0px 5px 5px;
    padding-bottom: 0;
  }
  main .articulos .articulo a .articulo-1 p {
    padding: 0;
    margin: 0;
  }
  footer {
    padding: 0px 30px 30px 30px;
  }
  footer .info-content {
    flex-direction: column;
    text-align: center;
  }
  footer .info-content .info-price {
    margin: 0px 0px 20px 0px;
  }
  footer .info-content .info-txt {
    margin: 0px;
  }
  footer hr {
    margin: 25px 0px;
  }
  footer .enlaces {
    flex-direction: column;
    align-items: center;
  }
  footer .enlaces .enlace {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */